<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddPlayerServlet</servlet-name>
        <servlet-class>servlet.AddPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlayerServlet</servlet-name>
        <servlet-class>servlet.EditPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlayerServlet2</servlet-name>
        <servlet-class>servlet.EditPlayerServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlayerServlet</servlet-name>
        <servlet-class>servlet.DeletePlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPlayerServlet</servlet-name>
        <servlet-class>servlet.ViewPlayerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPlayerServlet</servlet-name>
        <url-pattern>/AddPlayerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlayerServlet</servlet-name>
        <url-pattern>/EditPlayerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlayerServlet2</servlet-name>
        <url-pattern>/EditPlayerServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlayerServlet</servlet-name>
        <url-pattern>/DeletePlayerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPlayerServlet</servlet-name>
        <url-pattern>/ViewPlayerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
